// Typography

// Fonts
$font-sans = 'Inconsolata',Arial,Helvetica,sans-serif
$font-sans-light = 'Merriweather',Arial,Helvetica,sans-serif
$font-sans-bold = "Merriweather", Arial, sans-serif
$font-serif = 'Merriweather', Georgia,serif
$primary-font-family = $font-serif
$secondary-font-family = $font-sans
$monospaced-font-family = Merriweather, Lucida Console, monspace
