// Typography

// Fonts
$font-sans = 'Inconsolata',Arial,Helvetica,sans-serif
$font-sans-light = 'Inconsolata',Arial,Helvetica,sans-serif
$font-sans-bold = "Inconsolata", Arial, sans-serif
$font-serif = 'Inconsolata', Georgia,serif
$primary-font-family = $font-sans
$secondary-font-family = $font-serif
$monospaced-font-family = Monaco, Lucida Console, monspace
